<nav class="blue darken-4">
    <div class="nav-wrapper container">
        <a href="/" class="brand-logo">Todos</a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">

            <li {{#if isIndex}}class="active"{{/if}}>
                <a href="/">Todos</a>
            </li>

            <li {{#if isCreate}}class="active"{{/if}}>
                <a href="/create">Create todo</a>
            </li>

        </ul>
    </div>
</nav>