<form action="/create" method="post">
    <h2>Create todo</h2>

    <div class="input-field">
        <input type="text" name="title" placeholder="Create todo">
    </div>

    <button type="submit" class="btn">Create</button>
</form>

