{{> head}}

<body>
    {{> navbar}}
    <div class="container">
        {{{ body }}}
    </div>
</body> 

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="/js/todo.js"></script>
</html>