div(
    class="site-nav btn-primary"
)
    div(class="clost-button-div")
        button(class="btn btn-primary-outlined close-nav") x
    h3(class="card-header") Goods
    div(id="category-list")
    h3(class="cart-header") Cart
    div(id="cart-nav")
    div(class="text-right")
        a(
            href="/order"
            target="_blank"

        )
            button(class="btn btn-success") Order