* {
    font-family: sans-serif;
}

#server-image {
    width: 150px;
    height: auto;
}

.wrap{
    background: #fff;
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    flex-direction: column;
    height: 100%;
}

.text-center{
    text-align: center;
}

.content{
    flex-grow: 1;
    flex-shrink: 0;
    flex-basis: auto;
}

.site-header{
    height: auto;
    padding: 20px 0;
}

.site-header h1{
    display: inline-block;
}

.full-width{
    width: 100%;
    margin: 0 auto;
    padding: 0;
}
/*****************************************************/

.card{
    border: 1px solid #dedede;
}

.card-images {
    display: block;
    margin: 20px auto;
    max-width: 90%;
    min-height: 150px;
}

.card-actions li {
    list-style-type: none;
    text-align: center;
}

footer {
    margin-top: 300px;
}


/*****************NAV************************/

.site-nav{
    width: 300px;
    min-height: 100vh;
    position: fixed;
    /*left: -300px;*/
    top: 0;
    z-index: 999;
    padding: 10px;
    transition: all ease 1s;
    color: #fff;
}

.site-nav a {
    color: #424242;
}
.close-button-div{
    text-align: center;
}

.show-nav{
    position: relative;
}

ul.category-list{
    list-style-type: disc;
}

ul.category-list a{
    color: #424242;
}